{{ define "main" }}
	{{ if .IsHome }}
		{{ template "partials/index.html" . }}
	{{ end }}
	{{ if not .IsHome }}
		<div class="apps-list">
			(list.html)<br>
			<h1>{{- .Title -}}</h1>
			{{ range .Pages }}
				<div class="game-item">
					<div class="game-icon {{ if .Params.pirates }} .game-label {{ end }}">
						<a href="{{ .Permalink }}">
							<img src="{{ .Params.preview }}" alt="{{- .Title -}}"/>
						</a>
					</div>
					<div class="game-name">
						<h6><a href="{{ .Permalink }}">{{- .Title -}}</a></h6>
					</div>
				</div>
			{{ end }}
		</div>
	{{ end }}
{{ end }}
