<nav class="navbar navbar-inverse navbar-static">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown dropdown-large">
				<a href="{{ .Site.BaseURL }}">Главная</a>
			</li>
			<li class="dropdown dropdown-large">
				<a href="{{ .Site.BaseURL }}" class="dropdown-toggle" data-toggle="dropdown">HardWare <b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Ретро компьютеры</li>
							<li><a href="{{ .Site.BaseURL }}/hardware/pc/apple">Apple</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/pc/atari">Atati</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/pc/msx">MSX</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/pc/zx">ZX Spectrum</a></li>
							<li class="divider"></li>
							<li><img class="img-responsive" src="{{ .Site.BaseURL }}/img/assets/menu_tv_nes.gif" /></li>
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Игровые консоли</li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/3">3 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/4">4 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/5">5 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/6">6 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/7">7 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/8">8 поколение</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/generation/9">9 поколение</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">По производителям</li>
							<li><a href="{{ .Site.BaseURL }}/hardware/manufacturer/nintendo">Nintendo</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/manufacturer/sega">Sega</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/manufacturer/sony">Sony</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/manufacturer/microsoft">Microsoft</a></li>
							<li><a href="{{ .Site.BaseURL }}/hardware/manufacturer/clones">Клоны</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-large">
				<a href="{{ .Site.BaseURL }}" class="dropdown-toggle" data-toggle="dropdown">SoftWare <b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Nintendo</li>
							<li><a href="{{ .Site.BaseURL }}/software/nintendo/famicom">Famicom/Dendy</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/nintendo/snes">Super Nintendo</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/nintendo/wii">Wii</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/nintendo/wiiu">Wii U</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Sony</li>
							<li><a href="{{ .Site.BaseURL }}/software/sony/ps1">PS1</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/sony/ps2">PS2</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/sony/ps3">PS3</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/sony/ps4">PS4</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Sega</li>
							<li><a href="{{ .Site.BaseURL }}/software/sega/genesis">Mega Drive/Genesis</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/sega/dreamcast">DreamCast</a></li>
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">XBox</li>
							<li><a href="{{ .Site.BaseURL }}/software/xbox/xbox">XBox</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/xbox/xbox360">XBox 360</a></li>
							<li><a href="{{ .Site.BaseURL }}/software/xbox/xbox_one">XBox One</a></li>
							<li class="divider"></li>
							<li class="dropdown-header"></li>
							<li><a href="{{ .Site.BaseURL }}/software/portable">Портативные консоли</a></li>
							<li class="dropdown-header"></li>
							<li class="dropdown-header">Игры для компьютеров</li>
							<li><a href="{{ .Site.BaseURL }}/software/pc_games">IBM совместимые</a></li>
							<li class="divider"></li>
							<li><img class="img-responsive" src="{{ .Site.BaseURL }}/img/assets/menu_pc_terminal.gif" /></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-large"><a href="{{ .Site.BaseURL }}/comics">Комиксы/книги</a></li>
		</ul>
	</div>
</nav>