	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center box-shadow bg-light mb-3 p-3 shadow-lg">
			<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">{{if .Site.Params.logo}}
							<a href="{{ .Site.BaseURL }}"><img src="{{.Site.Params.logo}}" style="margin-left:10px;margin-top:-10px"></a>{{ else }}
							<a class="navbar-brand" href="{{ .Site.BaseURL }}">Главная</a>{{end}}
						</li>
						{{ if .Site.Menus.main }}
							{{ range sort .Site.Menus.main.ByWeight}}
								{{ if .HasChildren }}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
							<div class="dropdown-menu" aria-labelledby="dropdown09">
										{{ range .Children }}
								<a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
										{{ end }}
							</div>
						</li>{{ else }}
						<li class="nav-item">
							<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
						</li>{{ end }}
							{{ end }}
						{{ end }}
					</ul>
				</div>
			</nav>
		</div>
	</div>

